{
    "extends": ["airbnb-base"],
    "rules": {
        "linebreak-style": 0,
        "comma-dangle": 0,
        "class-methods-use-this": 0,
        "no-unused-vars": "warn",
        "import/no-cycle": 0,
        "operator-linebreak": 0
    },
    "env": {
        "browser": true
    }
}