li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

body {
    font-family: 'Spoqa Han Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E9EAED;
    background-image: url("assets/floor.png");
    background-repeat: repeat;
    background-size: 5%;
}

#top-icon-container {
    height: 18px;
    padding: 10px;
}

.top-icon {
    margin-left: 12px;
    color: #F3AC00;
    float: right;
    cursor: pointer;
    font-size: 18px;
}

#play-ground {
    position: relative;
    z-index: 1;
    padding-left: 320px;
    padding-bottom: 30px;
}

#sidebar{
    position: fixed;
    background-color: #333333;
    width: 300px;
    height: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
}

::-webkit-scrollbar {
    background: #333333;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #0DA22A;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #0D921A;
}
::-webkit-scrollbar-thumb:hover {
    background: #0D921A;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}

#present {
    height: 300px;
    width: 300px;
    background-color: brown;
    margin-bottom: 30px;
}

#present-img {
    margin-left: 70px;
    margin-top: 35px;
    cursor: pointer;
}

#present-num {
    margin-top: -10px;
    color: #F3AC00;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
}

#present-info {
    margin-top: -30px;
    margin-bottom: 30px;
    color: #F3AC00;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
}

.t {
    color: #F3AC00;
}

.pr, .lv {
    font-weight: normal;
}

.floor {
    width: 380px;
    height: 200px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#menu {
    width: 100%;
    padding: 0;
}

#menu li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    float: left;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#menu li:hover {
    background-color: #A04030;
}

.m-on {
    background-color: #A04030;
}

.m-off {
    background-color: #C05040;
}

.on {
    display: inline;
}
.off {
    display: none;
}

.list {
    padding: 0;
}

.list li {
    width: 100%;
    margin-top: 3px;
    background-color: #3F3F3F;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.list li:hover {
    background-color: #303030;
}

.item-img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

#item-list li p, #personnel-list li p {
    color: white;
    font-size: 12pt;
    font-weight: bold;
    float: right;
    text-align: right;
    margin-right: 30px;
    margin-top: 3px;
}

#personnel-list .output {
    font-weight: normal;
}

#policy-list li {
    font-size: 12pt;
    font-weight: bold;
    padding-left: 20px;
    color: white;
}

#policy-list p {
    word-break: keep-all;
    padding-right: 30px;
}

.item-present-img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
 }

.preview-img {
    filter: brightness(0%);
    -webkit-filter: brightness(0%);
}

#play-ground img {
    width: 50px;
    height: 50px;
}